/*Full Programm Background*/
body{
background-image: url(background.jpg);

background-size: cover;
}
/*Footer*/
.footer{
    text-align: center;
}
.footer h5 a{
    text-decoration: none;
}
/*Top Heading*/
.head{
    text-align: center;
    font-size: larger;
}
/*C language part*/
.cmain{
    text-decoration: none;
    color: black;
}
.c{
  box-shadow: 0 0 20px black;
  border-radius: 30px;
  margin: 20px;
  height: 110px;
  padding-top: 15px;
  text-align: center;
  font-size: larger;
  transition: 0.4s;
}
.c:hover{
    box-shadow:0 0 20px red;
}
/* C Pattern sec*/
.pattern{
    box-shadow: 0 0 20px black;
    border-radius: 30px;
    margin: 20px;
    height: 110px;
    padding-top: 15px;
    text-align: center;
    font-size: larger;
    transition: 0.4s;
}
.pattern:hover{
    box-shadow:0 0 20px red;
}
.pat{
    text-decoration: none;
    color: black;
}
/*Java Language Part*/
.jmain{
    text-decoration: none;
    color: black;
}
.j{
    box-shadow: 0 0 20px black;
    border-radius: 30px;
    margin: 20px;
    height: 110px;
    padding-top: 15px;
    text-align: center;
    font-size: larger;
    transition: 0.4s;
}
.j:hover{
      box-shadow:0 0 20px red;
}
